/********** common setting **********/
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,500i,700,700i,800,800i,900');

body {
  font-family: 'Montserrat', sans-serif;
}
h1 {
    font-weight: 900;
  }

h2 {
    font-size: 2.8rem !important;
    font-weight: 800;
  }

  h3 {
      font-weight: 700;
    }

img {
    display: block;
    max-width: 100%;
}

a,
button {
    cursor: pointer;
}

a {
    color: #008080;
}

a:hover, a:focus, a:active {
    color: #6AC7B6;
}

.jumbotron {
    margin-bottom: 0 !important;
    background-color: #fefacd;
}

.atlas-cta {
    border-radius: 22px !important;
    padding: 10px 20px !important;
    font-weight: 700;
    transition: .3s ease-in-out !important;
    display: inline-block;
}

.atlas-cta:hover {
    text-decoration: none;
    transform: translateY(-5px);
}

.atlas-cta-wide {
    width: 100%;
}

.cta-green {
    background: #008080;
    color: #ffffff;
}

.cta-green:hover {
    color: #ffffff;
    background: #6AC7B6;
}

.cta-blue {
    background: #FF5C45;
    color: #ffffff;
}

.cta-blue:hover {
    color: #ffffff;
    background: #008080;
}

.cta-ghost {
    border: 2px solid #192440 !important;
    color: #192440;
}

.cta-ghost:hover {
    color: #ffffff;
    background: #121a2e;
}

.flex-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-right {
    display: flex;
    justify-content: flex-end;
}

.line-height-large {
    line-height: 1.5;
}

.background-yellow {
    background: #FFFACD;
}

.background-white {
    background: #FFF;
}

.background-light-green {
    background: #6AC7B6;
}

.background-dark-green {
    background: #008080;
}

#banner {
    background-size: cover;
}

/********** banner **********/
#banner header {
    overflow: hidden;
}

#banner.jumbotron {
    padding-top: 2rem;
}

#banner .logo {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#banner #social-media {
    align-items: center;
    display: flex;
    justify-content: center;
}

#banner #social-media a {
    width: 40px;
    height: 40px;
    border-radius: 99%;
    background: #008080;
    transition: .4s ease;
}

#banner #social-media a i {
    color: #fff;
    font-size: 1.2rem;
    line-height: 40px;
}

#banner #social-media a:hover {
    background: #6AC7B6;
}

#banner #social-media a:hover i {
    color: #ffffff;
}

#banner header img {
    max-width: 180px;
}

/********** services **********/

.services img {
    height: 180px;
}

/********** feature (skew background) **********/
.feature img {
    width: 100%;
    max-width: 480px;
}

#feature-first {
    background: linear-gradient(168deg, #ffffff 55%, #FFFACD 0);
}

#feature-last {
    background: #FFFACD;
}

/********** price table **********/
#team {
    padding-top: 3rem !important;
    padding-bottom: 4rem !important;
}

#team__premium {
    background: #192440;
    color: #ffffff;
}

#team .image {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    overflow: hidden;
}

#team ul li {
    padding: 5px 0;
}

#team .social {
    width: 40px;
    height: 40px;
    border-radius: 99%;
    transition: .4s ease;
}

#team .social:hover {
    transform: translateY(-5px);
}

#team .social i {
    font-size: 1.2rem;
    line-height: 40px;
}

/********** contact **********/
#contact {
    background-size: cover;
}

#contact ul li {
    padding: 3px 0;
}

#contact form {
    color: #0B1819;
}

#contact form input,
#contact form textarea {
    background: transparent;
    border: 1px solid #0B1819;
    color: #008080;
}

/********** portfolio **********/


.portfolio-item {
    position: relative;
    margin-top: 2em;
    margin-bottom: 2em;
}

.portfolio-item .image {
    z-index: 1;
    display: flex;
    justify-content: center;
    padding: 2em;
    flex-grow: 1;
}

.portfolio-item .image img {
    object-fit: cover;
    border: 1px solid #008080;
    max-width: 250px;
    max-height: 250px;
}

.portfolio-item .image video {
    border: 1px solid #008080;
}

.portfolio-item .info {
    padding: 2em;
    flex-grow: 1;
}

.portfolio-item .info a {
    color: #FF6C45;
}

.tags .tag {
    background: #FF6C45;
    color: #fff;
    padding: 5px 10px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    margin-right: 5px;
}

/********** copyright **********/
#copyright {
    background: #fff;
    padding: 2rem 3rem;
}

#copyright #social-media a {
    width: 40px;
    height: 40px;
    border-radius: 99%;
    background: #0B1819;
    transition: .4s ease;
}

#copyright #social-media a i {
    color: #fff;
    font-size: 1.2rem;
    line-height: 40px;
}

#copyright #social-media a:hover {
    background: #6AC7B6;
}

#copyright #social-media a:hover i {
    color: #ffffff;
}

/********** RWD **********/
@media (max-width: 575px) {
    #banner h1 {
        font-size: 3.6rem;
    }

    #banner #social-media {
        justify-content: flex-start;
    }
}
